:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
